[Desktop Entry]
Name=BT-Configure
Comment=bluez4 scanning and pairing utility
Encoding=UTF-8
Version=1.0
Type=Application
Exec=bt-configure
Icon=bt-configure.png
Terminal=false
Categories=GTK;Applications;PIM
SingleInstance=true
StartupNotify=true
